/main_computer/src/MainProcessor/build/
/main_computer/src/MainProcessor/dist/
/main_computer/src/ScamperProcessor/build/
/main_computer/src/ScamperProcessor/dist/

/hss/classes/
/hss/lib/hss.jar
/hss/build.log

# Compiled source #
###################
*.class

# Packaged Files #
##################
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Miscellaneous #
######################
*.swp
/main_computer/src/OBC/build/
/main_computer/src/OBC/dist/
